@charset 'utf-8';

.box{
    width:80px;
    height:80px;
    display: inline-block;
    background-color: yellow;
    font-size: 30px;
    text-align: center;
    position: fixed;          /*fixed 는 위로가기버튼, 아래로가기 버튼에 많이 사용*/
}
#one{
    left:100px;

}
#two{
    left:0;
    bottom:0;
}
#three{
    left:150px;
}
#top-box{
    height:200px;
    border:1px solid black; 
}

#bottom-box{
    border:1px solid black;
    height:500px;
}