@charset 'utf-8';

table{
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;
}
td,
th{
   border: 1px solid black;
   text-align: center;
 
}
tbody>tr{
    background-color: aliceblue;
}
/*
    nth-child(x)
    x가 even : 짝수
    x가 2n : 짝수
    x가 odd : 홀수
    x가 2n-1 : 홀수
    
*/
/*
    3개씩 바꾸려면 nth-child(x)
    x가 3n-2이면 1,4,7,10,...
    x가 3n-1이면 2,5,8,11,...
    x가 3n이면 3,6,9,12,...
*/


tbody>tr:nth-child(2n-1){   
    background-color: aqua;
}

tbody tr:hover{
    background-color:gray  opacity: 0.8 ;
}


/*
셀렉터 관계 (형제가 가장 강함. 형제, 자식, 자손 순으로)
1. 부모-자식
부모셀렉터>자식셀렉터
tbody>tr
2. 조상-자손
조상셀렉터 자손셀렉터
tbody tr
3. 형제
종류1 : 태그셀렉터클래스셀렉터
div.box
종류2 : 클래스셀렉터클래스셀렉터
.container.font-12
종류3 : 태그아이디
div#top
종류4 : 아이디클래스
#top.container
*/
/* 위에 누군가를 많이 부를수록 더 강력해짐
   div>table>tr  
   div table>tr (?예시 잘못들어주신듯. div와 table은 형제관계 될 수 없음)
   div table#top
*/