@charset 'utf-8';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
}

.form-control {
    display: block;
    width: 30%;
    height: 30px;
    line-height: 30px;
    padding: 6px 12px;
    font-size: 15px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }

  .btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .form-group {
    margin-bottom: 10px;
  }