@charset 'utf-8';

/* css작업을 할 때 코드 순서는 조상, 자손 순으로 작업을 하는 것이 좋음. 
   태그들이 덮어쓰기 되기 때문에 큰 범위에 있는 것들부터 먼저 작업해주는 것이 좋다.*/
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin:0;
    padding:0;
    font-size:14px;
}
/* body태그의 margin을 없애는 방법*/
/*
body{
    margin:0;
}
*/

#box1{
    height: 150px;
    background-color:aliceblue; 
    font-size: 0px;        
    /*box1의 폰트사이즈를 0으로 해주면 그 안의 모든 자손들도 같이 그 속성이 적용되므로 아래와 같은 
    #box1>*{
        font-size: 14px;
    }
    속성을 다시 지정해줘야함*/
}
#box1>*{
    font-size: 14px;
}
#box-left, #box-right{
    border: solid 1px black;
    height: 100px;
    /* %가 딱 나누어 떨어지지 않을때 calc함수사용, calc 함수는 연산자를 공백으로 구분하기 때문에 값과 연산자 사이에는 항상 공백을 입력해야한다. 
    단 단위는 수치랑 붙여 써야한다.*/
    width: calc(100% / 2);    
    display:inline-block;
}

#box-left, #box-right, #box-left1, #box-right1{
    border: solid 1px black;
    height: 100px;
    width: calc(100% / 2);    
    display:inline-block;
}

#box-right1{
    float: right;
}
